{% set menuLItem, menuLLink = 'recibo', 'financiamientos' %}

{% extends "administration/templateAdministration.twig" %}

{% block content_main %}
	
<div class="f_card">
	{# Formulario para busqueda por tabla #}
  	<form method="get" action="{{ PUBLIC_PATH }}/financiamiento/lista/filtro" id="formFilterListFiananciamientos">
  	
  		<div class="row">
  			<div class="col-12">
  				<div class="f_cardheader">
                    <div> 
                    	<i class="fas fa-clipboard mr-3"></i>Listado de financiamientos
                    	<span>({{ data.pagination.paginaCantidadRegistros }})</span>
                	</div>
                  </div>
  			</div>
  		</div><!-- /.card-header -->
  		
  		<div class="row">
      		<div class="col-12">
      			{# Contenedor de alertas #}
                {% set classAlert = "" %}
                {% if estadoDetalle is empty %}
                	{% set classAlert = "d-none" %}
                {% elseif codigo >= 200 and codigo <300 %}
                    {% set classAlert = "alert-success" %}
                {% elseif codigo >= 400 %}
                    {% set classAlert = "alert-danger" %}
                {% endif %}
      			<div class="alert {{ classAlert }} alert-dismissible fade show" id="f_alertsContainer" role="alert">
                 	<ul class="mb-0" id="f_alertsUl">
                 		{% if estadoDetalle is not empty %}
                          {% for msj in estadoDetalle %}
                            <li>{{ msj }}</li>
                          {% endfor %}
                        {% endif %}
                 	</ul>
                 	<button type="button" class="close" class="close" data-dismiss="alert" aria-label="Close" id="f_alertsDismiss">
                 		<span aria-hidden="true">&times;</span>
                 	</button>
                </div>{# /Contenedor de alertas #}
      		</div>
      	</div>
      	
  		
  		<div class="row">
  			<div class="col-12">
  			
  				{# Paginador #}
  				<div class="d-flex justify-content-end align-items-center pb-2">
  					<div>
                    	<ul class="pagination f_pagination-basic pagination-sm m-0">
                            <li class="page-item {% if data.pagination.paginaAnterior == -1 %}{{ 'disabled' }}{% endif %}">
                            	<a class="page-link"
                            		id="paginaAnterior" 
                            		data-page="{{ data.pagination.paginaAnterior }}" 
                            		href="#" ><i class="fas fa-chevron-left"></i></a>
                        	</li>
                            <li class="page-item">
                            	<span class="page-link info">
                                	<input type="text" id="filterPaginaActual" name="filterPaginaActual" class="f_inputflat" required size="10"
                            				value="{{ data.pagination.paginaActual }}">
                        			de {{ data.pagination.paginaCantidad }}
                            	</span>
                            </li>
                            <li class="page-item {% if data.pagination.paginaSiguiente == -1 %}{{ 'disabled' }}{% endif %}">
                            	<a class="page-link" id="paginaSiguiente"
                            		data-page="{{ data.pagination.paginaSiguiente }}"
                            		href="#"><i class="fas fa-chevron-right"></i></a>
                        	</li>
                        </ul>
                    </div>
                    <div class="px-2">
                    	<button type="submit" class="f_btnflat" name="btnBuscarFiltros">
                    		<span class="fas fa-search"></span>
                		</button>
                		<a href="{{ PUBLIC_PATH }}/financiamiento/lista" class="f_link">
                			<i class="fas fa-times"></i>
            			</a>
                    </div>
  				</div>{# /Paginador #}
  				
  				
      			<div class="table-responsive">
                    <table class="table f_table f_tableliste f_listwidthfilterbefore">
                      <thead>
                      	<tr class="liste_title_filter">
                          <td class="liste_title f_minwidth125">
                          	<i class="fas fa-filter mr-1"></i>
    						<input class="f_inputflat f_maxwidth80imp" type="text" name="filterCodigo" 
                          		value='{% if data.formFilterListFiananciamientos.filterCodigo is defined %}{{ data.formFilterListFiananciamientos.filterCodigo }}{% endif %}'></td>
                    	  <td class="liste_title">
                          	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterContrato"
                          		value="{% if data.formFilterListFiananciamientos.filterContrato is defined %}{{ data.formFilterListFiananciamientos.filterContrato }}{% endif %}"></td>
                    	  <td class="liste_title">
                          	<input class="f_inputflat f_maxwidth150imp" type="date" name="filterFecha"
                          		value="{% if data.formFilterListFiananciamientos.filterFecha is defined %}{{ data.formFilterListFiananciamientos.filterFecha }}{% endif %}"></td>
                    	  <td class="liste_title">
                                <select class="f_inputflat" name="filterEstado" id="cmbFilterEstado">
                                    <option value="-1" class="f_opacitymedium"></option>
                                    <option value="1" 
                                        {% if data.formFilterListFiananciamientos.filterEstado is defined and data.formFilterListFiananciamientos.filterEstado ==  "1" %}
                            					{{ 'selected' }}
                    					{% endif %}>
                    					SIN CONFIRMAR
                					</option>
                                    <option value="2"
                                        {% if data.formFilterListFiananciamientos.filterEstado is defined and data.formFilterListFiananciamientos.filterEstado ==  "2" %}
                            					{{ 'selected' }}
                    					{% endif %}>
                    					CONFIRMADO
                					</option>
                					<option value="3"
                                        {% if data.formFilterListFiananciamientos.filterEstado is defined and data.formFilterListFiananciamientos.filterEstado ==  "3" %}
                            					{{ 'selected' }}
                    					{% endif %}>
                    					ANULADO
                					</option>
                              	</select>
                          	</td>
                    	  <td class="liste_title">
                          	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterMonto" disabled></td>
                  		  <td class="liste_title">
                          	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterNroCuotas" disabled></td>
                          	
                        </tr>
                        <tr class="liste_title">
                          <th class="wrapcolumntitle liste_title">Ref.</th>
                          <th class="wrapcolumntitle liste_title">Ref. Contrato</th>
                          <th class="wrapcolumntitle liste_title">Fecha</th>
                          <th class="wrapcolumntitle liste_title">Estado</th>
                          <th class="wrapcolumntitle liste_title">Monto</th>
                          <th class="wrapcolumntitle liste_title">Nro. Cuotas</th>
                        </tr>
                      </thead>
                      <tbody>
                      
                      	{% if data.financiamientos is not empty %}
                      	
                      		{% for financiamiento in data.financiamientos %}
                                <tr class="f_oddeven">
                                  <td>
                                      <a href="{{ PUBLIC_PATH }}/financiamiento/detalle/{{ financiamiento.FTO_CODIGO }}" class="f_link">
                                  		<span style=" color: #a69944">
                                  			<i class="fas fa-clipboard mr-1"></i>
                              			</span>
                                  		<span class="align-middtle">{{ financiamiento.FTO_CODIGO }}</span>
                                      </a>
                                  </td>
                                  <td>
                                      <a href="{{ PUBLIC_PATH }}/contrato/detalle/{{ financiamiento.CTO_CODIGO }}" class="f_link">
                                  		<span class="align-middtle">{{ financiamiento.CTO_CODIGO }}</span>
                                      </a>
                                  </td>
                                  <td class="f_overflowmax250">{{ financiamiento.FTO_CREATED is empty ? "" : financiamiento.FTO_CREATED|date("d/m/Y") }}</td>
                                  <td class="f_overflowmax250">
                                  	{% if financiamiento.FTO_ESTADO == 1 %}
                                    	<span class="badge badge-warning">{{ 'Sin Confirmar' }}</span>
                                    {% elseif  financiamiento.FTO_ESTADO == 2 %}
                                    	<span class="badge badge-success">{{ 'Confirmado' }}</span>
                                    {% elseif  financiamiento.FTO_ESTADO == 3 %}
                                    	<span class="badge badge-danger">{{ 'Anulado' }}</span>
                                    {% endif %}
                                  </td>
                                  <td class="f_overflowmax250">{{ financiamiento.FTO_DEUDA|number_format(2, '.', ',') }}</td>
                                  <td class="f_overflowmax250">{{ financiamiento.FTO_NUM_CUOTAS }}</td>
                                </tr>
                            {% endfor %}
                        
                      	{% else %}
                      		{% for i in 0..3 %}
                          		<tr>
        							<td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td>
                                </tr>
                            {% endfor %}
                      	{% endif %}
                      
                      	
                      </tbody>
                    </table>
                </div>
  			</div>
  			
  		</div><!-- /.card-body -->
  		
  		<div class="row">
      		<div class="col-12 f_cardfooter text-right"></div>
      	</div><!-- /.card-footer -->
  		
    </form>{# /Formulario para busqueda por tabla #}
    
</div><!-- /.card -->
    
{% endblock %}

{% block scripts %}

	{{ parent() }}
	
	<script type="text/javascript">
		$('#paginaAnterior').click(function(event){
			if($('#paginaAnterior').attr("data-page") != -1){
				$('#filterPaginaActual').val(parseInt($('#filterPaginaActual').val()) - 1);
				$('#formFilterListFiananciamientos').submit();
			}
			return false;
		});
		
		$('#paginaSiguiente').click(function(event){
			if($('#paginaSiguiente').attr("data-page") != -1){
				$('#filterPaginaActual').val(parseInt($('#filterPaginaActual').val()) + 1);
				$('#formFilterListFiananciamientos').submit();
			}
			return false;
		});
		
		f_select2("#cmbFilterEstado");
	</script>
	
{% endblock %}