<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>{% block title %} {{ SITE_NAME }} {% endblock %}</title>
  {% block links %}
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{{ PUBLIC_PATH }}/img/favicon.ico"/>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha512-L7MWcK7FNPcwNqnLdZq86lTHYLdQqZaz5YcAgE+5cnGmlw8JT03QB2+oxL100UeB6RlzZLUxCGSS4/++mNZdxw==" crossorigin="anonymous" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- AdminLTE -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <!-- Custom Theme -->
    <link rel="stylesheet" href="{{ PUBLIC_PATH }}/css/private.css">
  {% endblock %}
</head>
<body class="layout-fixed hold-transition sidebar-mini text-sm">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        
        <li class="nav-item d-none d-sm-inline-block">
          {% block main_header_left %}
          
          {% endblock %}
        </li>
      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">
        {# -------- Buscador no implementado
        <!-- Navbar Search -->
        <li class="nav-item">
          <a class="nav-link" data-widget="navbar-search" href="#" role="button">
            <i class="fas fa-search"></i>
          </a>
          <div class="navbar-search-block">
            <form class="form-inline">
              <div class="input-group input-group-sm">
                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                  </button>
                  <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </li> ---------------#}

        <!-- Messages Dropdown Menu -->
        <!-- Fin-Messages Dropdown Menu -->
        
        {# -------------------------------- Notificaciones no implementado
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">7 Notificaciones</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 mensajes nuevos
              <span class="float-right text-muted text-sm">3 min</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 reportes nuevos
              <span class="float-right text-muted text-sm">2 dias</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer text-sm"><u>Ver Todo</u>&nbsp&nbsp<i class="fas fa-arrow-right"></i></a>
          </div>
        </li>
        <!-- Fin-Notifications Dropdown Menu -->
        ---------------------------------------------- #}
        
        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="#" class="brand-link">
        <img src="{{ PUBLIC_PATH }}/img/logo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">{{ SITE_NAME }}</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
      	{# ------------- Sidebar de usuario no implementado
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="{{ SESSION['jass_user']['imageUrl'] }}" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block text-truncate">{{ SESSION['jass_user']['nombre'] ~ " " ~ SESSION['jass_user']['apellidos']  }}</a>
          </div>
        </div> --------------------- #}

        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column nav-compact" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
			{% include '/administration/partials/menuLeft.twig' %}
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
            	{% block pag_head %}
                  <div class="col-sm-6">
                    <h1>{% block pag_head_title %} {% endblock %}</h1>
                  </div>
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      {% block pag_head_floatRight %}  {% endblock %}
                    </ol>
                  </div>
                {% endblock %}
            </div>
          </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
        	<div class="container-fluid">
        		<div class="row">
        			<div class="col-12">
                        {% block content_main %}
                        <!-- Default box -->
                        
                        {% endblock %}
        			</div>
        		</div>
        	</div>
        </section>
        <!-- /.content -->
      {% endblock %}
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      {% block footer %}
          <div class="float-right d-none d-sm-block">
            <b>JASS</b>
          </div>
          <strong>Copyright &copy; 2020</strong> All rights reserved.
        {% endblock %}
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar">
      <!-- Control sidebar content goes here -->
      <div class="card-logout p-3">
        <h1 class="card-logout__title h6 text-bold border-bottom pb-2">Mi Cuenta</h1>
        <div class="d-flex pt-2">
          <div class="card-logout__img"><img src="{{ SESSION['jass_user']['imageUrl'] }}" alt=""></div>
          <div class="pl-2">
            <span class="card-logout__user text-sm text-bold">{{ SESSION['jass_user']['nombre'] ~ " " ~ SESSION['jass_user']['apellidos']  }}</span><br/>
            <span class="text-sm">({{ SESSION['jass_user']['rol_nombre'] }})</span>
            <ul class="card-logout__options pt-1">
              <li><i class="fas fa-sign-out-alt mr-1"></i><a href="{{ PUBLIC_PATH }}/logout">Salir</a></li>
            </ul>
          </div>
        </div>
      </div>

      {% block right_sidebar %}
        
      {% endblock %}
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  {% block scripts %}
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- AdminLTE -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
    <!-- Select2 -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {# ------------ <!-- Commons -->
    <script src="{{ PUBLIC_PATH }}/js/commons.js"></script>
    <!-- Custom Theme -->
    <script src=" {{ PUBLIC_PATH }}/js/private.js"></script> -------- #}
    {# Cierre automatico de alertas #}
    <script type="text/javascript">
		$(".alert-dismissible.alert-success").fadeTo(2000, 1).slideUp(800, function(){
            $(".alert-dismissible.alert-success").alert('close');
        });
	</script>
	
	{# Uso de select2 #}
	<script type="text/javascript">
		function f_select2(selector){
    		$(selector).select2({
                dir: 'ltr',
                width: 'resolve',
                minimumInputLength: 0,
                containerCssClass: ':all:',
    			selectionCssClass: ':all:',
                dropdownCssClass: 'ui-dialog',
                language: {
                    noResults: function() {                 
                        return "No hay resultado";        
                    },
                    searching: function() {
                        return "Buscando..";
                    }
                },
                templateResult: function (data, container) {
                    if (data.element) { $(container).addClass($(data.element).attr("class")); }
                    if (data.id == -1 && $(data.element).attr("data-html") == undefined) {
                        return '&nbsp;';
                    }
                    if ($(data.element).attr("data-html") != undefined) return htmlEntityDecodeJs($(data.element).attr("data-html"));
                    return data.text;
                },
                templateSelection: function (selection) {
                    if (selection.id == -1) return '<span class="placeholder">'+selection.text+'</span>';
                    return selection.text;
                },
                escapeMarkup: function(markup) {
                    return markup;
                }
            });
        }
	</script>{# /Uso de select2 #}
	
	<script type="text/javascript">
		$(".classfortooltip").tooltip({
			template: '<div class="tooltip f_tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
			placement: 'bottom'
		});
	</script>
  {% endblock %}
</body>
</html>
