{% set menuLItem = 'cliente' %}

{% extends "administration/templateAdministration.twig" %}

{% block content_main %}
	
<div class="f_card">

  	<div class="row">
  		<div class="col-12">
  			<div class="f_cardheader">
  				<div class=""> 
                	<i class="fas fa-user mr-3"></i>Detalle de cliente 
            	</div>
  			</div>
  		</div>
  	</div><!-- /.card-header -->
  	
  	<div class="row">
  		<div class="col-12">
  			{# Contenedor de alertas #}
            {% set classAlert = "" %}
            {% if estadoDetalle is empty %}
            	{% set classAlert = "d-none" %}
            {% elseif codigo >= 200 and codigo <300 %}
                {% set classAlert = "alert-success" %}
            {% elseif codigo >= 400 %}
                {% set classAlert = "alert-danger" %}
            {% endif %}
  			<div class="alert {{ classAlert }} alert-dismissible fade show" id="f_alertsContainer" role="alert">
             	<ul class="mb-0" id="f_alertsUl">
             		{% if estadoDetalle is not empty %}
                      {% for msj in estadoDetalle %}
                        <li>{{ msj }}</li>
                      {% endfor %}
                    {% endif %}
             	</ul>
             	<button type="button" class="close" class="close" data-dismiss="alert" aria-label="Close" id="f_alertsDismiss">
             		<span aria-hidden="true">&times;</span>
             	</button>
            </div>{# /Contenedor de alertas #}
  		</div>
  	</div>
  	
  
  	<div class="row">
  		<div class="col-12 d-flex justify-content-between f_arearef">
  			<div>
  				<div class="d-inline-block mr-2 mr-md-4">
          			<div class="f_imageref"><span class="fas fa-user" style=" color: #a69944"></span></div>
  				</div>
  				<div class="d-inline-block align-top">
  					<span class="font-weight-bold f_inforef">
  					    {% if data.cliente is defined %}{{ data.cliente.CLI_CODIGO }}{% endif %}
  					</span><br/>
  					<span class="font-weight-bold f_inforef">
  					    {% if data.cliente is defined %}{{ data.cliente.CLI_NOMBRES }}{% endif %}
				    </span><br/>
  				</div>
  			</div>
  			<div class="d-none d-sm-block">
  				<span><a href="{{ PUBLIC_PATH }}/cliente/lista" class="f_link font-weight-bold">Volver a Lista</a></span>
  			</div>
  		</div>
  		<div class="col-12 table-responsive">
  			<table class="table f_table f_tableforfield">
              <tbody>
              	<tr>
                  <td>Ref.</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_CODIGO }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Tipo</td>
                  <td>
                  	{% if  data.cliente is defined %}
                  		{% if data.cliente.CLI_TIPO == 1 %}
                        	{{ 'Natural' }}
                        {% elseif  data.cliente.CLI_TIPO == 2 %}
                        	{{ 'Juridico' }}
                        {% endif %}
                  	{% endif %}
                  </td>
                </tr>
                <tr>
                	<td>
                		{% if data.cliente is defined and data.cliente.CLI_TIPO == 1 %}
                			{{ 'DNI' }}
            			{% else %}{{ 'RUC' }}{% endif %}
                	</td>
                  	<td>{% if data.cliente is defined %}{{ data.cliente.CLI_DOCUMENTO }}{% endif %}</td>
                </tr>
                <tr>
                  <td>
                  	    {% if data.cliente is defined and data.cliente.CLI_TIPO == 1 %}
                			{{ 'Nombre' }}
            			{% else %}{{ 'Razón social' }}{% endif %}
                  </td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_NOMBRES }}{% endif %}</td>
                </tr>
                
                {% if data.cliente is defined and data.cliente.CLI_TIPO == 1 %}
                	<tr>
                      <td>Fecha Nacimiento</td>
                      <td>{{ data.cliente.CLI_FECHA_NAC }}</td>
                    </tr>
            	{% endif %}
            	
            	{% if data.cliente is defined and data.cliente.CLI_TIPO == 2 %}
                	<tr>
                      <td>Representante legal</td>
                      <td>{{ data.cliente.CLI_REPRES_LEGAL }}</td>
                    </tr>
            	{% endif %}
            			
                <tr>
                  <td>Departamento</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_DEPARTAMENTO }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Provincia</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_PROVINCIA }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Distrito</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_DISTRITO }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Dirección</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_DIRECCION }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Telefono</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_TELEFONO }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_EMAIL }}{% endif %}</td>
                </tr>
                <tr>
                  <td>Fecha de creación</td>
                  <td>{% if data.cliente is defined %}{{ data.cliente.CLI_CREATED }}{% endif %}</td>
                </tr>
              </tbody>
            </table>
  		</div>
  	</div><!-- /.card-body -->
  	
  	<div class="row">
  		<div class="col-12">
  			<div class="f_cardfooter f_cardfooteractions text-right">
  				<a href="{{ PUBLIC_PATH }}/cliente/editar/{% if data.cliente is defined %}{{ data.cliente.CLI_CODIGO }}{% endif %}" 
  					class="f_linkbtn f_linkbtnaction">Modificar</a>
				{% set styleBtnEliminar, titleBtnEliminar = "f_buttonactiondelete", "" %}
				{% if data.predios is defined and data.predios is not empty %}
				    {% set styleBtnEliminar = "f_buttonactionrefused" %}
				    {% set titleBtnEliminar = "Desactivado porque el cliente no se puede borrar.
				    							Se han creado predios asociados a este cliente" %}
			    {% endif %}
  				<button type="button" class="f_button {{ styleBtnEliminar }} classfortooltip" data-toggle="modal" data-target="#modalEliminarCliente"
  						title="{{ titleBtnEliminar }}">
  					Eliminar</button>
  			</div>
  			
  		</div>
  	</div><!-- /.card-footer -->
  
</div><!-- /.card -->

<div class="row">
    <div class="col-12 col-lg-6">
		<div class="f_card">
			<div class="row">
				<div class="col-12">
					<div class="f_cardheader">
						<div class="">Predios Vinculados</div>
					</div>
				</div>
			</div><!-- /.card-header -->
  	
  	
			<div class="row">
				<div class="col-12 table-responsive">
						
					<table class="table f_table f_tableliste">
					<thead>
						<tr class="liste_title">
							<td class="liste_title" colspan="2">Predios</td>
						</tr>
					</thead>
					<tbody>
						{% if data.predios is defined and data.predios is not empty %}
									
							{% for predio in data.predios %}
								<tr class="f_oddeven">
								<td>
									<a href="{{ PUBLIC_PATH }}/predio/detalle/{{ predio.PRE_CODIGO }}" class="f_link">
										<span class="align-middtle">{{ predio.PRE_CODIGO }}</span>
									</a>
								</td>
								<td class="f_overflowmax150">{{ predio.PRE_DIRECCION }}</td>
								</tr>
							{% endfor %}
						
						{% else %}
							{% for i in 0..2 %}
								<tr>
									<td>&nbsp;</td><td></td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
					</table>
					
				</div>
			</div><!-- /.card-body -->
			
			<div class="row">
				<div class="col-12 f_cardfooter text-right"></div>
			</div><!-- /.card-footer -->
		</div><!-- /.card -->
	</div>

	{# Agregado por Luis: Mostrar Contratos Vinculados con el cliente #}
	<div class="col-12 col-lg-6 mt-2 mt-lg-0">
		<div class="f_card">
			<div class="row">
				<div class="col-12">
					<div class="f_cardheader">
						<div class="">Contratos Vinculados</div>
					</div>
				</div>
			</div><!-- /.card-header -->

			<div class="row">
				<div class="col-12 table-responsive">
						
					<table class="table f_table f_tableliste">
					<thead>
						<tr class="liste_title">
							<td class="liste_title" colspan="2">Contratos</td>
						</tr>
					</thead>
					<tbody>
						{% if data.contratos is defined and data.contratos is not empty %}

							 
							{% for contrato in data.contratos %}
								<tr class="f_oddeven">
								<td>
									<a href="{{ PUBLIC_PATH }}/contrato/detalle/{{ contrato.CTO_CODIGO }}" class="f_link">
										<span class="align-middtle">{{ contrato.CTO_CODIGO }}</span>
									</a>
								</td>
								<td class="f_overflowmax150">{{ contrato.CTO_FECHA_INICIO }}</td>
								</tr>
							{% endfor %} 	
						
						{% else %}
							{% for i in 0..2 %}
								<tr>
									<td>&nbsp;</td><td></td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
					</table>
					
				</div>
			</div><!-- /.card-body -->
		
			<div class="row">
				<div class="col-12 f_cardfooter text-right"></div>
			</div><!-- /.card-footer -->
		</div><!-- /.card -->
	</div>
</div> {# /Elementos vinculados con el Cliente #}



{# Modal Eliminar cliente #}
{% if data.predios is defined and data.predios is empty %}
    <div class="modal fade f_modal" id="modalEliminarCliente" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title">Eliminar un cliente</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    	<span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                	<i class="fas fa-info-circle text-secondary mr-1"></i><span>¿Está seguro de querer eliminar este cliente?</span>
                	<form class="d-none" id="formEliminarCliente" action="{{ PUBLIC_PATH }}/cliente/delete" method="post">
                		<input type="hidden" name="codigo" value="{% if data.cliente is defined %}{{ data.cliente.CLI_CODIGO }}{% endif %}">
                	</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="f_btnactionmodal" id="btnEliminarCliente">Si</button>
                    <button type="button" class="f_btnactionmodal" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{# /Modal Eliminar cliente #}
    
{% endblock %}

{% block scripts %}

	{{ parent() }}
	
	<script type="text/javascript">
		$('#btnEliminarCliente').click(function(event){
			$('#formEliminarCliente').submit();
			return false;
		});
	</script>
	
{% endblock %}