{% set menuLItem = 'usuario' %}

{% extends "administration/templateAdministration.twig" %}

{% block content_main %}

<div class="f_card">
	{# Formulario Editar password de usuario #}
	<form class="f_inputflat" id="formEditarPasswordUsuario" method="post" action="{{ PUBLIC_PATH }}/usuario/update/password">
	
      	<div class="row">
      		<div class="col-12">
      			<div class="f_cardheader">
      				<div class=""> 
                    	<i class="fas fa-user-shield mr-3"></i>Editar usuario
                	</div>
      			</div>
      		</div>
      	</div><!-- /.card-header -->
      	
      	<div class="row">
      		<div class="col-12">
      			{# Contenedor de alertas #}
                {% set classAlert = "" %}
                {% if estadoDetalle is empty %}
                	{% set classAlert = "d-none" %}
                {% elseif codigo >= 200 and codigo <300 %}
                    {% set classAlert = "alert-success" %}
                {% elseif codigo >= 400 %}
                    {% set classAlert = "alert-danger" %}
                {% endif %}
      			<div class="alert {{ classAlert }} alert-dismissible fade show" id="f_alertsContainer" role="alert">
                 	<ul class="mb-0" id="f_alertsUl">
                 		{% if estadoDetalle is not empty %}
                          {% for msj in estadoDetalle %}
                            <li>{{ msj }}</li>
                          {% endfor %}
                        {% endif %}
                 	</ul>
                 	<button type="button" class="close" class="close" data-dismiss="alert" aria-label="Close" id="f_alertsDismiss">
                 		<span aria-hidden="true">&times;</span>
                 	</button>
                </div>{# /Contenedor de alertas #}
      		</div>
      	</div>
      	
      	
      	<div class="row">
      		<div class="col-12">
          		<div class="f_tabs">
          			<div class="f_tabunactive">
          				{% set codigo = "" %}
                    	{% if data.usuario is defined %}{% set codigo = data.usuario.USU_CODIGO %}
                    	{% elseif data.formEditarPasswordUsuario is defined %}{% set codigo = data.formEditarPasswordUsuario.codigo %}{% endif %}
          				<a href="{{ PUBLIC_PATH }}/usuario/editar/{{ codigo }}" class="f_link">Usuario</a>
          			</div>
          			<div class="f_tabactive">
          				<a href="#" class="f_link">Password</a>
          			</div>
              	</div>
      		</div>
      	</div><!-- /.tabs de contenido -->
  
      	<div class="row">
      		<div class="col-12">
      		
      			<div class="f_divwithbartop f_divwithbarbottom">
                    <div class="form-group row">
                    	<label class="col-12 col-md-3 col-lg-2 f_field">Ref.</label>
                        <div class="col-12 col-md-9 col-lg-10">
                        	{% set codigo = "" %}
                        	{% if data.usuario is defined %}{% set codigo = data.usuario.USU_CODIGO %}{{ data.usuario.USU_CODIGO }}
                        	{% elseif data.formEditarPasswordUsuario is defined %}
                        	    {% set codigo = data.formEditarPasswordUsuario.codigo %}{{ data.formEditarPasswordUsuario.codigo }}
                        	{% elseif data.usuarioId is defined %}{{ data.usuarioId }}{% endif %}
                        	<input type="hidden" class="f_minwidth300" id="inpCodigo" name="codigo" value='{{ codigo }}'>
                        </div>
                    </div>
                    <div class="form-group row">
                    	<label class="col-12 col-md-3 col-lg-2" for="inpPassword">Contraseña</label>
                        <div class="col-12 col-md-9 col-lg-10">
                        	<i class="fas fa-key mr-1"></i>
                        	<input type="password" class="f_minwidth250" id="inpPassword" name="password">
                        </div>
                    </div>
                    <div class="form-group row">
                    	<label class="col-12 col-md-3 col-lg-2" for="inpConfirmarPassword">Confirmar contraseña</label>
                        <div class="col-12 col-md-9 col-lg-10">
                        	<i class="fas fa-key mr-1"></i>
                        	<input type="password" class="f_minwidth250" id="inpConfirmarPassword" name="confirmPassword">
                        </div>
                    </div>
                    
      			</div>
      		</div>
      	</div><!-- /.card-body -->
  	
      	<div class="row">
      		<div class="col-12">
          		<div class="f_cardfooter f_cardfooteractions text-center">
        			<button type="submit" class="f_button f_buttonaction">Guardar cambios</button>
        			<a href="{{ PUBLIC_PATH }}/usuario/lista" class="f_linkbtn f_linkbtnaction">Cancelar</a>
    			</div>
      		</div>
      	</div><!-- /.card-footer -->
  	
  	</form>{# /Formulario Nuevo usuario #}
  
</div><!-- /.card -->
    
{% endblock %}

{% block scripts %}

    {{ parent() }}
  
	<script type="text/javascript">
		$('#formEditarPasswordUsuario').keypress(function(e) {
            if (e.which == 13) {
                return false;
            }
        });
	</script>
{% endblock %}