{% set menuLItem = 'tipousopredio' %}

{% extends "administration/templateAdministration.twig" %}

{% block content_main %}
	
<div class="f_card">
	{# Formulario para busqueda por tabla #}
  	<form method="get" action="{{ PUBLIC_PATH }}/tipousopredio/lista/filtro" id="formFilterListTipoUsoPredio">
  	
  		<div class="row">
  			<div class="col-12">
  				<div class="f_cardheader">
                    <div class=""> 
                    	<i class="fas fa-warehouse mr-3"></i>Tipos de uso de predio
                    	<span>({{ data.pagination.paginaCantidadRegistros }})</span>
                	</div>
                  </div>
  			</div>
  		</div><!-- /.card-header -->
  		
  		
  		<div class="row">
      		<div class="col-12">
      			{# Contenedor de alertas #}
                {% set classAlert = "" %}
                {% if estadoDetalle is empty %}
                	{% set classAlert = "d-none" %}
                {% elseif codigo >= 200 and codigo <300 %}
                    {% set classAlert = "alert-success" %}
                {% elseif codigo >= 400 %}
                    {% set classAlert = "alert-danger" %}
                {% endif %}
      			<div class="alert {{ classAlert }} alert-dismissible fade show" id="f_alertsContainer" role="alert">
                 	<ul class="mb-0" id="f_alertsUl">
                 		{% if estadoDetalle is not empty %}
                          {% for msj in estadoDetalle %}
                            <li>{{ msj }}</li>
                          {% endfor %}
                        {% endif %}
                 	</ul>
                 	<button type="button" class="close" class="close" data-dismiss="alert" aria-label="Close" id="f_alertsDismiss">
                 		<span aria-hidden="true">&times;</span>
                 	</button>
                </div>{# /Contenedor de alertas #}
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="col-12">
          		<div class="f_tabs">
          			<div class="f_tabactive">
          				<a href="#" class="f_link">Lista</a>
          			</div>
          			<div class="f_tabunactive">
          				<a href="{{ PUBLIC_PATH }}/tipousopredio/nuevo" class="f_link">Nuevo</a>
          			</div>
              	</div>
      		</div>
      	</div><!-- /.tabs de contenido -->
      	
  		
  		<div class="row">
  			<div class="col-12">
      			<div class="f_divwithbartop">
      			
      				{# Paginador #}
      				<div class="d-flex justify-content-end align-items-center pb-2">
      					<div>
                        	<ul class="pagination f_pagination-basic pagination-sm m-0">
                                <li class="page-item {% if data.pagination.paginaAnterior == -1 %}{{ 'disabled' }}{% endif %}">
                                	<a class="page-link"
                                		id="paginaAnterior" 
                                		data-page="{{ data.pagination.paginaAnterior }}" 
                                		href="#" ><i class="fas fa-chevron-left"></i></a>
                            	</li>
                                <li class="page-item">
                                	<span class="page-link info">
                                    	<input type="text" id="filterPaginaActual" name="filterPaginaActual" class="f_inputflat" required size="10"
                                				value="{{ data.pagination.paginaActual }}">
                            			de {{ data.pagination.paginaCantidad }}
                                	</span>
                                </li>
                                <li class="page-item {% if data.pagination.paginaSiguiente == -1 %}{{ 'disabled' }}{% endif %}">
                                	<a class="page-link" id="paginaSiguiente"
                                		data-page="{{ data.pagination.paginaSiguiente }}"
                                		href="#"><i class="fas fa-chevron-right"></i></a>
                            	</li>
                            </ul>
                        </div>
                        <div class="px-2">
                        	<button type="submit" class="f_btnflat" name="btnBuscarFiltros">
                        		<span class="fas fa-search"></span>
                    		</button>
                    		<a href="{{ PUBLIC_PATH }}/tipousopredio/lista" class="f_link">
                    			<i class="fas fa-times"></i>
                			</a>
                        </div>
      				</div>{# /Paginador #}
      				
      			
        			<div class="table-responsive">
                        <table class="table f_table f_tableliste f_listwidthfilterbefore">
                          <thead>
                          	<tr class="liste_title_filter">
                              <td class="liste_title f_minwidth125">
                              	<i class="fas fa-filter mr-1"></i>
        						<input class="f_inputflat f_maxwidth80imp" type="text" name="filterCodigo"
                              		value='{% if data.formFilterListTiposUsoPredio.filterCodigo is defined %}{{ data.formFilterListTiposUsoPredio.filterCodigo }}{% endif %}'></td>
                        	  <td class="liste_title">
                        	  	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterNombre"
                        	  		value="{% if data.formFilterListTiposUsoPredio.filterNombre is defined %}{{ data.formFilterListTiposUsoPredio.filterNombre }}{% endif %}"></td>
                	  		  <td class="liste_title">
        						<input class="f_inputflat f_maxwidth100imp" type="text" name="filterTarifaAgua" value="" disabled></td>
                        	  <td class="liste_title">
                        	  	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterTarifaDesague" value="" disabled></td>
							  <td class="liste_title">
								<input class="f_inputflat f_maxwidth100imp" type="text" name="filterTarifaAmbos" value="" disabled></td>
							  <td class="liste_title">
                        	  	<input class="f_inputflat f_maxwidth100imp" type="text" name="filterTarifaManten" value="" disabled></td>
                    	  	  <td class="liste_title">
                    	  	  	<select class="f_inputflat f_maxwidth300imp" name="filterTipoPredio" id="cmbFilterTipoPredio">
                                    <option value="-1" class="f_opacitymedium"></option>
                                    {% if data.tiposPredio is defined %}
                                    	{% set selectedFilterTipoPredio = false %}
                                		{% for tipoPredio in data.tiposPredio %}
                                        	<option value="{{ tipoPredio.TIP_CODIGO }}"
                                    				{% if not selectedFilterTipoPredio 
                                    				        and data.formFilterListTiposUsoPredio is defined 
                            					            and data.formFilterListTiposUsoPredio.filterTipoPredio ==  tipoPredio.TIP_CODIGO %}
                        					            {{ 'selected' }}{% set selectedFilterTipoPredio = true %}{% endif %}>
                                				{{ tipoPredio.TIP_NOMBRE }}
                            				</option>
                                        {% endfor %}
                                	{% endif %}
                                  </select>
                    	  	  </td>
                            </tr>
                            <tr class="liste_title">
                              <th class="wrapcolumntitle liste_title">Ref.</th>
                              <th class="wrapcolumntitle liste_title">Tipo de uso de predio</th>
                              <th class="wrapcolumntitle liste_title">Tarifa agua</th>
                              <th class="wrapcolumntitle liste_title">Tarifa desague</th>
							  <th class="wrapcolumntitle liste_title">Tarifa Ambos</th>
							  <th class="wrapcolumntitle liste_title">Tarifa Mantenimiento</th>
                              <th class="wrapcolumntitle liste_title">Tipo predio</th>
                            </tr>
                          </thead>
                          <tbody>
                          
                          	{% if data.tiposUsoPredio is not empty %}
                          	
                          		{% for tipoUsoPredio in data.tiposUsoPredio %}
                                    <tr class="f_oddeven">
                                      <td>
                                          <a href="{{ PUBLIC_PATH }}/tipousopredio/detalle/{{ tipoUsoPredio.TUP_CODIGO }}" class="f_link">
                                      		<span style=" color: #a69944">
                                      			<i class="fas fa-warehouse mr-1"></i>
                                  			</span>
                                      		<span class="align-middtle">{{ tipoUsoPredio.TUP_CODIGO }}</span>
                                          </a>
                                      </td>
                                      <td class="f_overflowmax150">{{ tipoUsoPredio.TUP_NOMBRE }}</td>
                                      <td class="f_overflowmax150">{{ tipoUsoPredio.TUP_TARIFA_AGUA|number_format(2, '.', ',') }}</td>
                                      <td class="f_overflowmax150">{{ tipoUsoPredio.TUP_TARIFA_DESAGUE|number_format(2, '.', ',') }}</td>
									  <td class="f_overflowmax150">{{ tipoUsoPredio.TUP_TARIFA_AMBOS|number_format(2, '.', ',') }}</td>
									  <td class="f_overflowmax150">{{ tipoUsoPredio.TUP_TARIFA_MANTENIMIENTO|number_format(2, '.', ',') }}</td>
                                      <td class="f_overflowmax300">
                                      	{% if data.tiposPredio is defined %}
                                      		{% set selectedTipoPredio = false %}
        									{% for tipoPredio in data.tiposPredio if not selectedTipoPredio %}
        										{% if tipoPredio.TIP_CODIGO == tipoUsoPredio.TIP_CODIGO %}
        											{{ tipoPredio.TIP_NOMBRE }}{% set selectedTipoPredio = true %}
        										{% endif %}
        									{% endfor %}
        								{% endif %}
                                      </td>
                                    </tr>
                                {% endfor %}
                            
                          	{% else %}
                          		{% for i in 0..3 %}
                              		<tr>
            							<td>&nbsp;</td><td></td><td></td><td></td><td></td><td></td><td></td>
                                    </tr>
                                {% endfor %}
                          	{% endif %}
                          
                          	
                          </tbody>
                        </table>
                    </div>
      			</div>
    		</div>
  		</div><!-- /.card-body -->
  		
  		<div class="row">
      		<div class="col-12 f_cardfooter text-right"></div>
      	</div><!-- /.card-footer -->
  		
    </form>{# /Formulario para busqueda por tabla #}
    
</div><!-- /.card -->
    
{% endblock %}

{% block scripts %}

	{{ parent() }}
	
	<script type="text/javascript">
		$('#paginaAnterior').click(function(event){
			if($('#paginaAnterior').attr("data-page") != -1){
				$('#filterPaginaActual').val(parseInt($('#filterPaginaActual').val()) - 1);
				$('#formFilterListTipoUsoPredio').submit();
			}
			return false;
		});
		
		$('#paginaSiguiente').click(function(event){
			if($('#paginaSiguiente').attr("data-page") != -1){
				$('#filterPaginaActual').val(parseInt($('#filterPaginaActual').val()) + 1);
				$('#formFilterListTipoUsoPredio').submit();
			}
			return false;
		});
		
		f_select2("#cmbFilterTipoPredio");
	</script>
	
{% endblock %}